* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.highscore {
    display: flex;
    justify-content: left;
    font-size: 0.75em;
    width: 40%;
}

.countdown {
    display: flex;
    justify-content: right;
    width: 40%;
    font-size: .75em;
}

.quiz-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
}


.btn-container, .score-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
}

.btn, .start, .submit {
    
    outline: none;
    border: none;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 10px;
    background: cornflowerblue;
    font-size: 1em;
    position: relative;
    top: -3px;
    box-shadow: 0 3px grey;
}

.answer-validation {
    display: flex;
    justify-content: center;
    border-top: solid 2px rgba(123, 117, 117, 0.5);
    color: rgba(123, 117, 117, 0.75);
    
}

#score-submit {
    display: inline-flex;
    align-items: center;
    
}
/*Need to add highlighting of button on hover*/